

<div ng-app="nbaApp">
	<h1>NBA Information:</h1>
	
	<a href="#/partial1">Players</a> | <a href="#/partial2">Teams</a> | <a href="#/partial3">Associations</a>
	<form>
		<h2>Search By:</h2>
		<label>Any:</label>
		<input type="text" name="any">
		<label>First Name:</label>
		<input type="text" name="first_name">
		<label>Last Name:</label>
		<input type="text" name="last_name">
		<label>Team:</label>
		<input type="text" name="team">
	</form>
	<div ng-view=""></div>
</div>