body{
	
	font-family: Century Gothic, sans-serif;

}
#two{
	float: right;
	margin-right: 100px;
}
button{
	background-color: #191970;
	color: #00FF7F;
	border: 1px solid black;
	border-radius: 10px;
	padding: .4em;
	font-style: italic;

}